:root {
    --blue: #23068b;                 /*criei variavel das corres que usei no codigo*/
    --black: #000000;
    --white: #fbf7f7;
}


.cabecalho {
    text-align: center;                /*deixando meu texto no centro*/
    background-color: #23068b;       /*deixando essa linha em azul no cabeçalho*/
    justify-content: space-between;    /*deixando responsivel*/
}

.relogio {
    text-align: center;                /*coloquei meu relogio no centro*/
}


img {
    width: 100px;                      /*definindo o tanho da minhas img*/
    height: 100px;
}