:root {
    --blue: #23068b;
    --black: #000000;
    --white: #fbf7f7;
}

.cabecalho {
    text-align: center;
    background-color: #23068b;
}

.paises {
    padding: auto;
}

.relogio {
    text-align: center;
}


img {
    width: 200px;
    height: 200px;
}